:root {
    --mainColumnMin: 500px;
    --mainColumnMax: 1500px;
    --dropMenuDisplay: none;
    --dropMenuBtnColor: none;
}

* {
    padding: 0;
    margin: 0;

    overscroll-behavior-y: none;
}

html {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    height: calc(var(--vh, 1vh) * 100);
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);

    background: none;
    color: #FFFFFF;

    padding-top: 1rem;

    overflow-x: hidden;
}

.backgroundCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

/* Primary Header */

.logo {
    margin: 2rem;
}

.logo > p {
    white-space: nowrap;
    overflow: hidden;
}

.primary-header {
    margin-bottom: 1rem;
    align-items: center;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    --gap: clamp(1rem, 5vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(1rem, 10vw, 10rem);

    background: hsl(0 0% 0% / 0.75);
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
    }
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: .75em;
}

@media (max-width: 65em) {
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;

        flex-direction: column;
        padding: min( 30vh, 10rem) 2rem;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: inline-block;
        position: absolute;
        z-index: 9999;
        
        border: 0;
        
        width: 1.5rem;
        aspect-ratio: 1;
        
        margin-block: auto;
        right: 2rem;

        background: none;

        cursor: pointer;
    }
}

/* End Primary Navigation */
/* Start Main Content */

.main-content {
    flex-wrap: wrap;
}

.main-content a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.main-content a:hover, .main-content a:focus {
    color: #eeeeee;
}

.main-content a:active {
    color: #dddddd;
}

.main-content img {
    height: 100%;
    width: auto;
}

.main-content-item {
    height: 30rem;
}

/* End Main Content */
/* Utility Classes */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-dir-column {
    flex-direction: column;
}

.general-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.ff-sans-cond {
    font-family: sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.text-white {
    color: #FFFFFF;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

