body {
    padding: 1rem 1rem;

    overflow-x: hidden;
}

.canvas-container {
    height: 70vh;
}

#mainCanvas {
    display: block;
    margin-inline: auto;
}

.controls-general {
    --gap: 0.5rem;
}

@media (max-width: 35rem) {
    .canvas-container{
        height: 50vh;
    }
}
